body
{
    background-color: white;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

#game-stuff
{
    display: flex;
    margin: auto;
    max-width: 35em;
}

#reset-button
{
    display: block;
    margin: auto;
    padding: 15px;
    font-size: 1.5em;
}

#player1-score
{
    display: block;
    margin: auto;
    color: DeepSkyBlue;
    font-size: 1.5em;
}

#player2-score
{
    display: block;
    margin: auto;
    color: IndianRed;
    font-size: 1.5em;
}

line
{
    stroke: white;
    stroke-width: 25;
}

.boxes
{
    fill: white;
    opacity: 0.5;
}
