body
{
    background-color: white;
}

#reset-button
{
    padding: 15px;
    font-size: 1.5em;
}

#player1-score
{
    color: DeepSkyBlue;
}

#player2-score
{
    color: IndianRed;
}

line
{
    stroke: white;
    stroke-width: 35;
}

.boxes
{
    fill: white;
    opacity: 0.5;
}
